#Cooja External Tools (User specific)
#Mon Nov 02 11:14:40 BRT 2020
FRAME_WIDTH=2147483647
LOG_LISTENER_SAVEFILE=/home/lucas/novo.txt
SIMCFG_HISTORY=/home/lucas/Cooja_Simulations/20-nodes-grid.csc;/home/lucas/Cooja_Simulations/50-nodes-grid.csc;/home/lucas/Cooja_Simulations/10-nodes-line.csc;/home/lucas/Cooja_Simulations/30-nodes-grid.csc;/home/lucas/Cooja_Simulations/50-nodes.csc;/home/lucas/Cooja_Simulations/20-nodes.csc;/home/lucas/Cooja_Simulations/40-nodes-grid.csc;/home/lucas/Cooja_Simulations/simulation_set_1.csc;/home/lucas/Cooja_Simulations/preferred-parent_test01.csc;/home/lucas/Cooja_Simulations/10-nodes.csc
COMPILE_LAST_FILE=[CONTIKI_DIR]/examples/ariker/CoAPwithDataAgg/CoapServer-DataAggregation.c
SHOW_QUICKHELP=false
FRAME_HEIGHT=2147483647
FRAME_SCREEN=\:0.0
FRAME_POS_Y=24
FRAME_POS_X=65
EXECUTE_JAR_LAST=/home/lucas/Iniciacao_Cientifica/contiki_cobaia/tools/sim4/ss1s4_00.jar
DEFAULT_PROJECTDIRS=
